/* google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&display=swap');
/* override browser defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general body styles*/
body {
    min-height : 100vh;
    display: flex;
    flex-direction: column; 
    color: black;
    font-family: 'Edu SA Hand', cursive;
    background-color: #faec57;
}
h1, h2, h3 {
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header {
    position: fixed;
    padding: 0 1rem;
    width: 100%;
    background-color: #faec57;
    box-shadow: 0 2px 5px rgba(58, 58, 58, 0.3);
}
header a {
    text-decoration: none;
    color: black;
}   
#menu {
    font-size 110%;
    list-style-type: none;
    letter-spacing: 4px;
}
#menu>li {
    margin-bottom: 1em;
}
.active {
    border-bottom: 1px solid black
}
nav {
    position: absolute;
    background-color:#faec57;
    padding: 0 1rem;
    width: 100%;
    box-shadow: 0 2px 2px rgba(58, 58, 58, 0.3);
    left: 0;
    display:none;
    top:100%
}